.card {
    border-radius: 20rpx;
    background-color: white;
    box-shadow: 5rpx 5rpx 20rpx #ccc;
    margin-top: 30rpx;

    &:active {
        opacity: 0.5;
    }

    &__top {
        width: 100%;
        height: 300rpx;
        
        &--img {
            width: 100%;
            height: 100%;
            border-radius: 20rpx 20rpx 0 0;
        }
    }

    &__bottom {
        height: 120rpx;
        padding: 10rpx 20rpx;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-title {
                font-size: 36rpx;
                font-family: serif;
                font-weight: bold;
            }

            &-explain {
                color: #aaa;
                font-size: 28rpx;
            }
        }

        &--action {
            display: flex;
            align-items: center;

            &-btn {
                border: none;
                font-size: 30rpx;
                padding: 0 40rpx;
                color: #333;
                border-radius: 100rpx;
                background-image: linear-gradient(to right, #d48831, #dfc298);
            }

            &-btn:active {
                opacity: 0.5;
            }
        }
    }
}