.index {
  background-color: #f3f3f3;

  &__header {
    height: 160rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6001a;

    &--logo {
      width: 55%;
      height: 65%;
    }
  }

  &__content {
    height: calc(100vh - 160rpx - 120rpx);
    overflow: auto;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    margin: 40rpx 48rpx;
    padding: 15rpx;
    border-radius: 15rpx;
    background-color: #fff;

    &-card {
      position: relative;
      display: flex;

      &--left image {
        width: 180rpx;
        height: 180rpx;
      }

      &--right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 30rpx;

        &-title {
          font-weight: bold;
          font-size: 32rpx;
          color: #333;
        }

        &-owner {
          font-size: 26rpx;
          color: #999;
        }

        &-remark {
          margin-top: 15rpx;
          font-size: 30rpx;
          color: #666;
        }

        &-button {
          display: flex;
          align-items: center;
          margin: 15rpx 0 0 0;
          font-size: 26rpx;
          padding: 0 40rpx;
          height: 60rpx;
          color: white;
          background-color: #e6001a;
        }
        &-button::after {
          border: none;
          border-radius: 0;
        }
        &-button:active {
          background-color: rgb(154, 1 ,23);
        }
      }

      &--point {
        position: absolute;
        top: -15rpx;
        left: -15rpx;
        padding: 10rpx 20rpx;
        border-radius: 8rpx;
        font-size: 22rpx;
        color: #fff;
        background-color: rgb(232, 232, 232);
      }
    }

    &-childs {
      font-size: 28rpx;
      color: #e6001a;

      &--item {
        display: inline-flex;
        width: 50%;
        padding: 15rpx 0;
        align-items: center;
        justify-content: center;

        image {
          width: 30rpx;
          height: 30rpx;
          margin-right: 10rpx;
        }
      }
      &--item:active {
        background-color: #eee;
      }
    }
  }
}
