.book {

  &__card {
    position: relative;
    margin: 20rpx;
    padding: 30rpx;
    border-radius: 30rpx;
    color: #f3f3f3;
    min-height: 300rpx;
    background-color: #666;

    &-title {
      font-size: 24rpx;
    }

    &-content {

    }

    &-feedback {
      position: absolute;
      right: 0;
      top: 30rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 80rpx;
      min-height: 50rpx;
      font-size: 24rpx;
      padding-left: 10rpx;
      background-color: #999;
      border-radius: 30rpx 0 0 30rpx;
    }
  }
}
